ion-toolbar {
    --border-color:rgb(248, 245, 245,0);
    --background:rbg(0,0,0,0);
}

div {
    background: linear-gradient(rgb(255, 238, 161),#ffffff);
    padding: 50px;
    margin-top: -80px;
    z-index: 0;
}

ion-card:first-child {
    margin-top:5px;
}


h5 {
    text-align: center;
    color: rgb(142, 116, 1);
}

ion-col {
    padding: 0;
    margin: 1% 0;
    text-align: center;
    color:rgb(50, 50, 50);
    font-size: 0.9em;
    
}

ion-grid {
    background-color: rgb(255, 255, 255);
    margin: 0 2%;
    padding: 0 1%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px 0px;
}


h6 {
    margin-bottom: 1.1em;
    font-weight:600;
}
p {
    line-height: 0.5em;
}

