
<ion-content>
    <!--
  <ion-header translucent>
    <ion-toolbar color='primary'>
      <ion-title>My</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <!--
  <ion-button color="light" routerLink='/test'>
    <ion-icon slot="icon-only" size="small" name="add-outline" ></ion-icon>
  </ion-button>
  -->

  <div id="tab4-1">
    <a routerLink="/test">
    <ion-avatar>
      <img src="{{profile}}">
    </ion-avatar>
    </a>
    <h6>{{currentDate | date: 'dd MMMM'}}</h6> 
    <ion-label>Hi, <strong> {{user.name}} </strong>!</ion-label> <br>
    <br>
    <ion-label>Weight: {{user.weight}} kg</ion-label> <br>
    <ion-label>Height: {{user.height}} cm</ion-label> <br>
    <p>Good {{greet}}!</p>
  </div>





  <div id="middle">
        <div id="left">
            <h5>Calories</h5>
            <p id= "first"> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> xxx</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> {{user.cal}} cal</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> daily rate</p>
        </div>

        <div id ="right">
            <h5>Notification</h5>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
        </div>
  </div>

  <div id="tab4-3">
    <!--
    <ion-grid>
      <ion-row>
          <ion-col size="8">
            <h5>Summary</h5>
            <pre>Consumed          xxxxx</pre>
            <pre>Left              xxxxx</pre>
            <pre>Total             {{user.cal}} cal</pre>
          </ion-col>
          <ion-col size="4">
            <h5>Details</h5>
            <ion-icon src="assets/icon/strawberry.svg"></ion-icon>
            <p>Total   xxxx</p>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p>Protein</p></ion-col>
        <ion-col><p>Fats</p></ion-col>
        <ion-col><p>Carbs</p></ion-col>
      </ion-row>
    </ion-grid>
    -->

  </div>


  <ion-slides [options]="option" class="ion-margin-top">
        
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="margin:10% 0 1% 0;">Eat the food you buy</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Sounds straightforward, but how many times do we leave things in our pantry untouched 
          for days and it ultimately ends up in the bin? Make sure what’s in your fridge, cupboard 
          and kitchen shelves are consumed.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!--
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="margin:2% 0 1% 0;">Store your food better</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Be smart about storing food. Keep raw foods and cook foods separate, and store 
          cooked food above raw food in refrigerators to reduce the risk of contamination. 
          In hot and humid climates like Hong Kong, keep more foods – especially perishable 
          fruits – in the fridge to prevent them from over-ripening before you get to consume 
          them. Sealing foods in air-tight containers will avoid spoilage and reduce food waste.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    -->


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Be organised & plan ahead</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Planning ahead with shopping lists when you go to the market or grocery store will 
          help you purchase the right amount of food you need and avoid buying what you already 
          have at home. If you’re going out to a restaurant or café to eat, bring a reusable container
           or jar with you so you can package leftovers and avoid it going in the bin.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="margin:11% 0 1% 0;">Compost scraps</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Compost any uneaten food. Think food scraps – apple cores, banana peels, the ends 
          of vegetables. This will help divert food waste away from landfills and actually benefits 
          the soil to help provide nutrients for plant growth.
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Never buy more than you need</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          It can be tempting to purchase more than one item at a time to save you going to 
          the store twice a week. Or perhaps there is a discount on buying several of the same 
          products. Fight the urge to do so if you know that you won’t need more than a certain 
          amount, even if it is more convenient or cheaper for you. Remember, it won’t be convenient 
          for the planet.
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Use your freezer</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You can always store dinner leftovers, uneaten meals and cooked foods in the freezer. 
          Even bread – if you have a loaf that won’t be finished before it goes stale or mouldy, 
          keep half of it in the freezer while it is still fresh! It’ll stay just as good in the 
          freezer for months and can be reheated whenever you want in the future.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Make “leftover recipes”</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Learn some handy leftover recipes. Fried rice, for example, is always an easy go-to for 
          finishing up bits and bobs in the fridge. You can throw in different grains and beans you 
          have on hand to make a stew, or pop half used vegetables in a pan or wok for a stir-fry. 
          Whip up a pasta salad with leftover pasta in your fridge.
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <!--
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Get pickling & fermenting</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Experiment with pickling and fermenting foods. Kept in brine or vinegar, the processes 
          help preserve and extend the shelf life of perishable foods like cucumbers, cabbage, carrots,
           bean sprouts – you name it. It can be stored in reusable glass containers in the fridge for 
           weeks or months, and is a super delicious add-on ingredient in other dishes, can be used 
           as a salad topping or just enjoyed on its own!
        </ion-card-content>
      </ion-card>
    </ion-slide>
    -->


    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Buy “ugly” produce</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Don’t cross off vegetables or fruits just because they look ugly when they are perfectly 
          edible. Choosing less aesthetically pleasing produce that other people might avoid or stores
           might throw away will help prevent food waste. Plus, they might even be on discount at 
           certain shops. Either way, they’ll taste just as good as the prettier ones.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Patron responsible F&B businesses</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Support restaurants and food shops that are responsible about fighting food waste. In Hong 
          Kong, look out for businesses that have pledged to waste reduction causes such as donating 
          excess food to charities, selling perishable products at discounted prices at the end of the 
          day, and only supplying as much as there is demand.
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <!--
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="margin:2% 0 1% 0;">Say no to buffets</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Buffets are abundant with unlimited appetisers, mains, desserts, snacks and more. While there 
          is something for everyone, the concept of buffets means a whole lot of food waste. Dishes on 
          buffet lines are continually replenished before emptied, and at the end of each service, lots 
          of food ends up in the bin, with research suggesting that over half of the food displayed in 
          hotel buffets gets disposed of. By saying no to buffets, you won’t be contributing to these 
          wasteful practices and will be reducing demand for them.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    -->

    <!--
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="margin:2% 0 2% 0;">Eat what you have, not what you crave</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You’re really craving a specific dish, but you know for a fact you have leftovers in the 
          fridge that will go bad by tomorrow. Be responsible – if you won’t be able to consume food 
          you already have before it spoils, then don’t go and purchase more just because you feel like
           it. If you really can’t ignore your cravings, then remember Tip #6 to freeze uneaten food 
           before you go out and buy only what you need (#5) or if you’re eating out, bring a container
            in case of leftovers (#3).
        </ion-card-content>
      </ion-card>
    </ion-slide>

    -->




  </ion-slides>

</ion-content>
