
<ion-content>
    <!--
  <ion-header translucent>
    <ion-toolbar color='primary'>
      <ion-title>My</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <!--
  <ion-button color="light" routerLink='/test'>
    <ion-icon slot="icon-only" size="small" name="add-outline" ></ion-icon>
  </ion-button>
  -->

  <div id="tab4-1">
    <a routerLink="/test">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    </a>
    <h6>{{currentDate | date: 'dd MMMM'}}</h6> 
    <ion-label>Hi, <strong> {{user.name}} </strong>!</ion-label> <br>
    <br>
    <ion-label>Weight: {{user.weight}} kg</ion-label> <br>
    <ion-label>Height: {{user.height}} cm</ion-label> <br>
    <p>Good {{greet}}!</p>
  </div>





  <div id="middle">
        <div id="left">
            <h5>Calories</h5>
            <p id= "first"> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> xxx</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> xxx</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> daily rate</p>
        </div>

        <div id ="right">
            <h5>Notification</h5>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
            <p> <ion-icon src="assets/icon/strawberry.svg"></ion-icon> Expires in xx days</p>
        </div>
  </div>

  <div id="tab4-3">
    <ion-grid>
      <ion-row>
          <ion-col size="8">
            <h5>Summary</h5>
            <pre>Consumed          xxxxx</pre>
            <pre>Left              xxxxx</pre>
            <pre>Total             {{user.cal}} cal</pre>
          </ion-col>
          <ion-col size="4">
            <h5>Details</h5>
            <ion-icon src="assets/icon/strawberry.svg"></ion-icon>
            <p>Total   xxxx</p>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><p>Protein</p></ion-col>
        <ion-col><p>Fats</p></ion-col>
        <ion-col><p>Carbs</p></ion-col>
      </ion-row>
    </ion-grid>
    

  </div>

</ion-content>
