.signin {
    text-align: center;
}

.avatar {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar img {
    height: 100px;
    width: 100px;
}

ion-content {
    --background: linear-gradient(rgb(255, 222, 161),rgb(255, 238, 161));
}

ion-toolbar {
    --background: transparent;
}

ion-card {
    box-shadow:2px 2px 3px rgb(187, 187, 187);
    border-radius:25px;
}

.input-icon {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.input-icon, .input-text {
    display: inline;
}

.password {
    padding-top: 20px;
}

ion-button {
    margin-top: 30px;
    --background:salmon;
    margin-bottom: 20px;
}

.reset, .register {
    margin-bottom: 20px;
    text-align: center;
}


a {
    text-decoration: none;
    color: silver;
}