<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab4">
      <ion-icon src="./assets/icon/noti.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="./assets/icon/search.svg"></ion-icon>
    </ion-tab-button>

    
    <ion-tab-button tab="tab3">
      <ion-icon src="./assets/icon/feedback.svg"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="tab5">
      <ion-icon src="./assets/icon/home.svg"></ion-icon>
    <!--  <ion-label>Tab 1</ion-label>  -->
    </ion-tab-button>
    
     <!--
    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/strawberry.svg"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>      -->
  </ion-tab-bar>

</ion-tabs>
