<ion-content>

  <header>
    <h5>SEARCH</h5>
    <ion-searchbar [(ngModel)]='topic' placeholder='Enter comma-separated list of ingredients '></ion-searchbar>
  </header>
    <ion-button expand='block' (click)='search()' size="small">Search</ion-button>
 

    <ion-card mode='ios' *ngFor='let item of foodData'>
      <div>
      <p><b> Recipe: </b></p> 
      <ion-label>{{item.title}}</ion-label> 
      <br>

      <p><b>Missed Ingredients:</b> </p> 
      <ion-label>- {{item.missedIngredients[0].name}}</ion-label><br>
      <ion-label>- {{item.missedIngredients[1].name}}</ion-label><br>
    </div>
      <img src={{item.image}}  width="86%" height="auto"/>
      
    </ion-card>
  
</ion-content>
