<ion-content>

  <ion-header transucent>
    <ion-toolbar color='primary'>
      <ion-title>
        Database
      </ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-item>
      <ion-input [(ngModel)]='topic' placeholder='Add topic..'></ion-input>
    </ion-item>
    <ion-button expand='block' (click)='search()' >Search</ion-button>
   
    <ion-card mode='ios' *ngFor='let item of foodData'>
      {{item.food.label}}: <br>
      Carbs: {{item.food.nutrients.CHOCDF}} g <br>
      Energy: {{item.food.nutrients.ENERC_KCAL}} kcal <br>
      Fat: {{item.food.nutrients.FAT}} g <br>
      Fiber: {{item.food.nutrients.FIBTG}} g <br>
      Protein: {{item.food.nutrients.PROCNT}} g <br>
     </ion-card>
  
</ion-content>