ion-title {
    font-weight: 600;
}

ion-card {
    width: 100%;
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 12px;
    
    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 800ms all linear;
    }

    ion-card-title {
        font-size:13px;
        font-weight: 500;
        margin:6% 0 3% 0;
    }
    ion-card-content{
        font-size:11px;
    }
    ion-card-header {
        margin: 0;
        padding: 0;
    }
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}