<!-- 
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-header translucent>
    <ion-toolbar color='primary'>
      <ion-title>Protecter</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Part1 -->
  <div id="home-header">
    <h1>YYDS FOOD PROTECTER</h1>
    <ion-searchbar placeholder="Please enter food name"></ion-searchbar>

    <ion-buttons>
      <button >
        <ion-icon name="book-outline"></ion-icon>
        <ion-label style="zoom:1.1;">Comparison</ion-label>
      </button>
      
      <button ion-button>
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Ranking</ion-label>
      </button>
     
      <button ion-button>
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Burden Sheet</ion-label>
      </button>
    </ion-buttons>

  </div>




  <!-- Part2 -->
  <div id="home-2">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Suggest Intake</p>
          <p>xxx</p>
        </ion-col>
        <ion-col>
          <ion-icon src="assets/icon/strawberry.svg"></ion-icon>
        </ion-col>
        <ion-col>
          <p>Intake</p>
          <p>xxx</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Protein</p>
          <p>xxxxxx</p>
        </ion-col>
        <ion-col>
          <p>Fats</p>
          <p>xxxxxx</p>
        </ion-col>
        <ion-col>
          <p>Carbs</p>
          <p>xxxxx</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>



  <!-- Part3 -->
  <div id="home-3">
    <ion-list-header>
      <div id="classification-header">  
        <b>Classification of Food</b> 
      </div>
    </ion-list-header>

    <!-- First row -->
    <ion-segment color="tertiary" value="favorite">
      <ion-segment-button value="pizza">
        <ion-label>Staple</ion-label>
        <ion-icon src="assets/icon/Staple.svg" style="zoom:1.8;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="fish">
        <ion-label>Meats</ion-label>
        <ion-icon src="assets/icon/WechatIMG163.svg" style="zoom:1.8;"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="chicken">
        <ion-label>Beans</ion-label>
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
    <!-- 2nd row -->
    <ion-segment color="tertiary" value="favorite">
      <ion-segment-button value="nuts">
        <ion-label>Vegetables</ion-label>
        <ion-icon name="square"></ion-icon>
      </ion-segment-button>
  <!--<ion-segment-button value="vegetable">
        <ion-label>Vegetable</ion-label>
        <ion-icon name="leaf"></ion-icon>
      </ion-segment-button>     -->
      <ion-segment-button value="fruits">
        <ion-label>Fruits</ion-label>
        <ion-icon name="nutrition-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="test">
        <ion-label>Dairy</ion-label>
        <ion-icon src="assets/icon/strawberry.svg"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>


</ion-content>