<ion-content>
  <header>
    <h3>STUDY</h3>
    <h6>Combo list</h6>
  </header>
    <div id="icon">
      <ion-icon id="mcolor" src="assets/icon/man.svg" style.backgroundColor={{color}} (click)="showM()"></ion-icon>
      <ion-icon id="wcolor" src="assets/icon/woman.svg" (click)="showW()"></ion-icon>
      <ion-icon id="ecolor" src="assets/icon/old.svg" (click)="showE()"></ion-icon>
      <ion-icon id="ccolor" src="assets/icon/child.svg" (click)="showC()"></ion-icon>
    </div>





<div id= "combo">

  <ion-grid>
    <ion-row>
      <div class="m" style.display={{man}} > 
        <ion-col>
          <ion-card routerLink='/man1'>
            <img src="././assets/meat1.png"/>
            <ion-card-header>
              <ion-card-subtitle>for Man</ion-card-subtitle>
              <ion-card-title>2500 kcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      <div class="m" style.display={{man}}> 
        <ion-col>
          <ion-card routerLink='/man2'>
            <img src="././assets/meat2.png"/>
            <ion-card-header>
              <ion-card-subtitle>for Man</ion-card-subtitle>
              <ion-card-title>2400 kcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      <div class="m" style.display={{man}}> 
        <ion-col>
          <ion-card  routerLink='/man3'>
            <img src="././assets/meat3.png"/>
            <ion-card-header>
              <ion-card-subtitle>for Man</ion-card-subtitle>
              <ion-card-title>2300 kcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      <div class="m" style.display={{man}}> 
        <ion-col>
          <ion-card  routerLink='/man4'>
            <img src="././assets/meat4.png"/>
            <ion-card-header>
              <ion-card-subtitle>for Man</ion-card-subtitle>
              <ion-card-title>2250 kcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      



    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman1'>
          <img src="././assets/meat1.png"/>
          <ion-card-header>
            <ion-card-subtitle>for Woman</ion-card-subtitle>
            <ion-card-title>2100 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </div>

    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman2'>
          <img src="././assets/meat2.png"/>
          <ion-card-header>
            <ion-card-subtitle>for Woman</ion-card-subtitle>
            <ion-card-title>2000 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </div>


    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman3'>
          <img src="././assets/meat3.png"/>
          <ion-card-header>
            <ion-card-subtitle>for Woman</ion-card-subtitle>
            <ion-card-title>1900 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </div>



    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman4'>
          <img src="././assets/meat4.png"/>
          <ion-card-header>
            <ion-card-subtitle>for Woman</ion-card-subtitle>
            <ion-card-title>1800 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </div>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <div class= "e" style.display={{elderly}} > 
      <ion-col >
        <ion-card routerLink='/elderly1'>
          <img src="././assets/meat1.png" />
          <ion-card-header>
            <ion-card-subtitle>for Senior</ion-card-subtitle>
            <ion-card-title>1900 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      </div>

      <div class= "e" style.display={{elderly}} > 
        <ion-col >
          <ion-card routerLink='/elderly2'>
            <img src="././assets/meat2.png" />
            <ion-card-header>
              <ion-card-subtitle>for Senior</ion-card-subtitle>
              <ion-card-title>1800 kcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        </div>


        <div class= "e" style.display={{elderly}} > 
          <ion-col >
            <ion-card routerLink='/elderly3'>
              <img src="././assets/meat3.png" />
              <ion-card-header>
                <ion-card-subtitle>for Senior</ion-card-subtitle>
                <ion-card-title>1650 kcal</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          </div>

          <div class= "e" style.display={{elderly}} > 
            <ion-col >
              <ion-card routerLink='/elderly4'>
                <img src="././assets/meat4.png" />
                <ion-card-header>
                  <ion-card-subtitle>for Senior</ion-card-subtitle>
                  <ion-card-title>1500 kcal</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            </div>







      <div class= "c" style.display={{child}} > 
      <ion-col>
        <ion-card routerLink='/child1'>
          <img src="././assets/meat1.png" />
          <ion-card-header>
            <ion-card-subtitle>for Child</ion-card-subtitle>
            <ion-card-title>1350 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      </div>



      <div class= "c" style.display={{child}} > 
      <ion-col>
        <ion-card routerLink='/child2'>
          <img src="././assets/meat2.png" />
          <ion-card-header>
            <ion-card-subtitle>for Child </ion-card-subtitle>
            <ion-card-title>1300 kcal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      </div>

      <div class= "c" style.display={{child}} > 
        <ion-col>
          <ion-card routerLink='/child3'>
            <img src="././assets/meat3.png" />
            <ion-card-header>
              <ion-card-subtitle>for Child</ion-card-subtitle>
              <ion-card-title>1250 lcal</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        </div>

        <div class= "c" style.display={{child}} > 
          <ion-col>
            <ion-card routerLink='/child4'>
              <img src="././assets/meat4.png" />
              <ion-card-header>
                <ion-card-subtitle>for Child</ion-card-subtitle>
                <ion-card-title>1200 kcal</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          </div>



    </ion-row>
  </ion-grid>

</div>
</ion-content>