header {
    background: linear-gradient(rgb(255, 238, 161),#ffffff);
    padding-top: 4%;
}

h3 {
    text-align: center;
    margin: 10% 0 10% 0;
}

h6 {
    margin-left: 4%;
    margin-bottom: 5%;
}

#icon {
    display: flex;
    justify-content: space-between;
    padding: 0 7% 10% 7%;
}
#icon img {
    border-radius: 50% !important;
    overflow: hidden;
    max-width: 30px;
    max-height: 30px;
  }

  #icon ion-icon {
    border-radius: 50% !important;
    overflow: hidden;
    width: 30px;
    height: 30px;
    padding: 2%;
  }




  #combo {
    margin-top:-5%;
    div {
        width:50%;
    }

    ion-card {
        margin: 3% 6% 10% 6%;
        padding: 0;
    }

    ion-col {
        padding: 0;
    }
}





ion-card-title {
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: red;
}

