<ion-content>
  <header>
    <h3>STUDY</h3>
    <h6>Combo list</h6>
  </header>
    <div id="icon">
      <ion-icon id="mcolor" name="accessibility-outline" style.backgroundColor={{color}} (click)="showM()"></ion-icon>
      <ion-icon id="wcolor" name="woman-outline" (click)="showW()"></ion-icon>
      <ion-icon id="ecolor" src="assets/icon/strawberry.svg" (click)="showE()"></ion-icon>
      <ion-icon id="ccolor" src="assets/icon/strawberry.svg" (click)="showC()"></ion-icon>
    </div>





<div id= "combo">

  <ion-grid>
    <ion-row>
      <div class="m" style.display={{man}} > 
        <ion-col>
          <ion-card routerLink='/man1'>
            <img src="././assets/meat1.png"/>
            <ion-card-header>
              <ion-card-subtitle>Subtitle</ion-card-subtitle>
              <ion-card-title>Title</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      <div class="m" style.display={{man}}> 
        <ion-col>
          <ion-card routerLink='/man2'>
            <img src="././assets/meat2.png"/>
            <ion-card-header>
              <ion-card-subtitle>Subtitle</ion-card-subtitle>
              <ion-card-title>Title</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      <div class="m" style.display={{man}}> 
        <ion-col>
          <ion-card  routerLink='/man3'>
            <img src="././assets/meat3.png"/>
            <ion-card-header>
              <ion-card-subtitle>Subtitle</ion-card-subtitle>
              <ion-card-title>Title</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </div>

      



    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman1'>
          <img src="././assets/test.png" />
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             woman1
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>

    <div class= "w" style.display={{woman}}> 
      <ion-col>
        <ion-card routerLink='/woman2'>
          <img src="././assets/test.png" />
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             woman2
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>


    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <div class= "e" style.display={{elderly}} > 
      <ion-col >
        <ion-card routerLink='/elderly1'>
          <img src="././assets/test.png" />
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             elderly
          </ion-card-content>
        </ion-card>
      </ion-col>
      </div>

      <div class= "c" style.display={{child}} > 
      <ion-col>
        <ion-card routerLink='/child1'>
          <img src="././assets/test.png" />
          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
             child
          </ion-card-content>
        </ion-card>
      </ion-col>
      </div>
    </ion-row>
  </ion-grid>

</div>
</ion-content>