<ion-header>
  <ion-toolbar>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item color="none">
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item color="none">
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="user.gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item color="none">
      <ion-label>Age:</ion-label>
      <ion-input type="number" [(ngModel)]="user.age"></ion-input>
    </ion-item>

    <ion-item color="none">
      <ion-label>Weight:</ion-label>
      <ion-input type="number" [(ngModel)]="user.weight"></ion-input>
    </ion-item>

    <ion-item color="none">
      <ion-label>Height:</ion-label>
      <ion-input type="number" [(ngModel)]="user.height"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="update()">Update</ion-button>
  </ion-list>

</ion-content>
