div {
    margin: -5% 5% 0 5%;
    font-size: 0.8em;
    
}

h2 {
    text-align: center;
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
h4 {
    font-weight: bold;
}
h5 {
    font-weight: bold;
}
h6 {
    font-weight: bold;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --opacity: 0;
}


* {
    font-family: 'Times New Roman', Times, serif;
}

ion-content {
    --background: linear-gradient(0deg, white, white 70%, rgb(255, 242, 184));
}