

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list color="none">
    <ion-item>
      <img src="assets/icon/youxiang.svg">
      <ion-input type="text" [(ngModel)]="email" placeholder="Please enter your email..."></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="reset()">Reset</ion-button>
  </ion-list>
</ion-content>