a {text-decoration: none}

ion-content {
    --background: linear-gradient(0deg, white, white 70%, rgb(255, 242, 184));
    
}

.list-background {
    background: transparent;
}



ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --opacity: 0;
}


ion-button{
    margin: 30% 3% 0 3%;
    --background: #FFA47F;
    --border-radius: 25px;
    color:white;
    
}


ion-list {
    margin-top: 7%;
}