
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Setting</ion-title>
    </ion-toolbar>
  </ion-header>
-->


  <ion-list lines="full" class="list-background">
    <a routerLink='/info'>
      <ion-item color="none" lines="none" detail>
        <ion-label>Personal Information</ion-label>
      </ion-item>
    </a>

    <a routerLink='/'>
      <ion-item color="none" lines="none" detail>
        <ion-label>Account Settings</ion-label>
      </ion-item>
    </a>

    <a routerLink='/shopping-list'>
      <ion-item color="none" lines="none" detail>
        <ion-label>Complaints and Suggestions</ion-label>
      </ion-item>
    </a>

    <!--
    <a routerLink='/'>
      <ion-item color="none"  lines="none" detail>
        <ion-label>Users Announcement</ion-label>
      </ion-item>
    </a>    -->

    <a routerLink='/privacypolicy'>
      <ion-item color="none"  lines="none" detail>
        <ion-label>Privacy Policy</ion-label>
      </ion-item>
    </a>

  </ion-list>

  <ion-button type="submit"  expand="block" size="small" (click)="signOut()">Signout</ion-button>


</ion-content>

