<ion-header>
  <ion-toolbar>
    <ion-title>staple</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          
          <h2>rice</h2>
          <span class="green"></span>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>




    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>


    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>



    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>


    <ion-item routerLink='/test' detail >
      <ion-thumbnail class="ion-margin-end">
        <ion-img src="./assets/test.png"></ion-img>
      </ion-thumbnail>
      <ion-label  class="ion-text-wrap" id="hh">
        <ion-text>
          <h2>rice</h2>
          <p> <span class="cal">116</span> kcal / 100g</p>
        </ion-text>
      </ion-label>
    </ion-item>

    
  </ion-list>

</ion-content>
