.ion-padding .checkbox-label {
    padding-left: 10px;
}

header {
    background: linear-gradient(rgb(255, 238, 161),#ffffff);
    padding-top: 10%;
}

h5 {
    text-align: center;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow:hidden;
}

ion-button {
    margin-top: 40px;
    --background:salmon;
    margin-bottom: 20px;
}