.ion-padding .checkbox-label {
    padding-left: 10px;
}

.signin {
    text-align: center;
}

ion-content {
    --background: linear-gradient(rgb(255, 238, 161),#ffffff);
}

ion-toolbar {
    --background: transparent;
}

h5 {
    text-align: center;
}

img {
    margin-top: 20px;
    overflow:hidden;
}

ion-button {
    --background:salmon;
}
